@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body {
  margin: 0;
  font-family: 'nanumsquare', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', 'NanumSquare', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    'Spoqa Han Sans Neo', monospace;
}

